if Object.keys(left_menu).length > 0 || left_content.length > 0
 div.left-content-outer-outer
  div.left-content-outer-inner
   div.left-content-inner-outer
    div.left-content-inner-inner
     div.left-content