if Object.keys(right_menu).length > 0 || right_content.length > 0
 div.right-content-outer-outer
  div.right-content-outer-inner
   div.right-content-inner-outer
    div.right-content-inner-inner
     div.right-content