html
  head(lang='en')
    title= title
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' type="text/css" href='/style.css')
  body

    div.menu-outer
        div.menu-inner

    h1= message
    <br />
    h2 "This is text inside the H2"
    h3 This is text inside the H3